/* shared styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 0.5rem;
  background: #ff900e;
  border: none;
  padding: 1.25rem 1.5625rem;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 600;
}
.banner-description,
.text-light-gray {
  color: #727272;
}
.nav-title,
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 3.125rem 15rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 1.875rem;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner-content {
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 2rem;
  margin-top: 6.4rem;
}
.banner-description {
  color: #727272;
  margin-bottom: 2rem;
}
.banner img {
  margin-top: 1.25rem;
  width: 100%;
}
/* main styles */
main {
  max-width: 90rem;
  margin: 0 auto;
}
/* teams styles */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 5.313rem;
}
.teams-content {
  padding-right: 4.375rem;
  padding-left: 4.375rem;
}
.teams-title {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}
.teams-title .quick-list {
  color: #727272;
  font-weight: 500;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700;
}
.teams-description {
  margin-bottom: 2rem;
}
/* feature section styles */
.features {
  display: flex;
  margin-top: 8.125rem;
  gap: 6.25rem;
}
.feature-content p {
  margin-bottom: 1.9rem;
}
.features .section-title {
  border-left: 0.3125rem solid #ff900e;
  padding-left: 1.25rem;
  margin-bottom: 1.5rem;
}
.feature-content .card {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0rem 0.25rem 1.875rem 0rem rgba(0, 0, 0, 0.06);
  padding: 1.875rem;
  margin-bottom: 1.25rem;
}
.feature-img img {
  height: 80%;
  margin-left: 5.625rem;
}
.ten-years-badge {
  border-radius: 0.5rem;
  background: #ff900e;
  padding: 2.875rem 2.625rem;
  text-align: center;
  max-width: 21.375rem;
  position: relative;
  bottom: 5.625rem;
}
.ten-years-badge h2 {
  color: #fff;
  text-align: center;
  font-size: 4.063rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.375rem;
}
.ten-years-badge p {
  color: #fff;
  font-size: 1.56rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
}
/* facts section */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts .text-light-gray {
  max-width: 33.875rem;
  margin-bottom: 6.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1.5rem;
}
.facts-card-container .card {
  border-radius: 0.5rem;
  border: 1px solid #ff900e;
  text-align: center;
  font-size: 2.8rem;
  padding: 1.875rem;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0.3125rem;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
/* sponsors styles */
.sponsors {
  text-align: center;
  margin-top: 11.255rem;
}
.sponsors .text-light-gray {
  max-width: 33.875rem;
  margin: 1.5rem auto 3.125rem;
}
.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3.125rem;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 8.125rem;
}
.sponsors-img-container img {
  width: 10.3125rem;
}
/* footer styles  */
footer {
  display: flex;
  background-color: #fff4e7;
  width: 70%;
  height: 6.25rem;
  border-radius: 8px;
  margin: 0 auto 13.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 1.25rem;
}
footer .text-light-gray {
  max-width: 38.75rem;
}

/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
  body {
    padding: 10px;
  }

  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .features,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  nav li {
    margin-right: 20px;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .feature-img img {
    width: 100%;
    margin-left: 0;
  }
  .ten-years-badge {
    position: static;
    max-width: 100%;
  }
  .facts {
    margin-top: 1rem;
  }
  .teams-content,
  .facts-card-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
}
/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  body {
    padding: 10px;
  }

  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .features,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  nav li {
    margin-right: 20px;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .feature-img img {
    width: 100%;
    margin-left: 0;
  }
  .ten-years-badge {
    position: static;
    max-width: 100%;
  }
  .facts {
    margin-top: 1rem;
  }
  .teams-content,
  .facts-card-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
  .card-title {
    margin-left: auto;
    margin-right: auto;
  }
  .teams-content {
    text-align: center;
  }
  .section-title {
    text-align: center;
  }
  .facts .text-light-gray {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
